body{
	margin: 0;
}

.images{
	padding: 50px 0;
}

.container {
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
}

.img_item{
	box-sizing: border-box;
	float: left;
	width: 25%;
	padding: 3px;
}

.img_item img{
	width: 100%;
}